.messages-container {
  display: flex;
  width: 80vw;
  margin: auto;
  /* navbar + footer = 80px */
  height: calc(100vh - 80px);
}

.empty-conversation {
  display: flex;
  width: calc(100% - 200px);
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
