.hero {
  height: 450px;
  background-color: rgba(33, 37, 41, 1);
}

.hero-img {
  height: 250px;
}

.pr {
  padding-right: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.heading {
  margin-top: 20px;
  text-align: center;
}
